.font-color {
  color: white;
}

.secondary-color {
  color: rgba(255, 255, 255, 0.486);
}

.accent-color {
  color: #16F096;
}
/* 0F172A */

/* Set width and height of the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
  background: #000000; 
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::selection {
  background-color: #16F096; /* Your custom highlight color */
  color: #000000; /* Text color when highlighted */
}

/* For Firefox, use the following rule */
::-moz-selection {
  background-color: #16F096; /* Your custom highlight color */
  color: #000000; /* Text color when highlighted */
}
